@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

p {
    text-align: center;
}

input {
    width: 250px !important;
    margin: auto;
}
footer {
    text-align: center;
}